body{
    margin: 0;
    padding: 0;
    line-height: 33px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    padding: 10px 0;
    background: red;
}
.row {
    display: flex;
    flex-wrap: wrap;
    background: yellow;
}
[class^="col"] {
    content: " ";
    margin: 10px (2.75%/2);
    background: blue;
}

@for $i from 1 through 12 {
    .col#{$i} {
        width: (100%/(12/$i)) - 2.75%;
    }
    
}
@media screen and(max-width: 480px){
    @for $i from 1 through 12 {
        .col#{$i}-xs {
            width: (100%/(12/$i))-1%;
        }
        
    }
}
@media screen and(max-width:1024px){
    @for $i from 1 through 12 {
        .col#{$i}-md {
            width: (100%/(12/$i))-1%;
        }
        
    }
}
@media screen and (max-width:480px){
    @for $i from 1 through 12 {
        .col#{$i} {
            width: 100%;
        }   
    }
}
    
